body{
    background-color: rgb(145, 142, 133);
}
table,td{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
th{
    border: 2px solid rgb(0, 0, 128);
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(57, 62, 116);
    padding: 10px;
}
button{
    text-align: center;
    color: floralwhite;
    background-color: rgb(0, 0, 128);
    padding: 12px 30px;
    font-size: 20px;
}
button:hover{
    background-color: floralwhite;
    color: rgb(0, 0, 128);
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 80px;
    color: rgb(121, 6, 4);
}
h3{
    text-align: center;
    font-size: 50px;
    color: rgb(121, 6, 4);
}
#btn{
    text-align: center;
}
#grocery{  
    padding-bottom: 20px;
    text-align: center;
}